/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 200px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

h1 {
    position: absolute;
    top: 162px;
    left: 377px;
}

.clkbtn {
    position: absolute;
    top: 233px; 
    left: 646px; 
    height: 23px; 
    width: 80px; 
    right: 609px;
}
.price-lbl {
    position:absolute; 
    font-size:20px;
    top: 229px;
    left: 442px;
    height: 20px;
    margin-top: 3px;
}

.txt-box {
    position: absolute;
    top: 230px;
    left: 499px;
    height: 24px;
    right: 702px;
}

.discount-lbl {
    position: absolute;
    font-size: 20px;
    top: 265px;
    left: 380px;
    margin-top: 0px;
}

.selling-price-lbl {
    position: absolute;
    font-size: 20px;
    top: 295px;
    left: 352px;
    margin-top: 1px;
}